<table>
  <thead>
    <tr>
      <th></th>
      <th>{{ .ColumnAddress }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ .RowAddress }}</td>
      <td>{{ .Raw }}</td>
    </tr>
  </tbody>
</table>
